{
  "ENV": "prod",
  "APP_URL": "https://flow.watxio.com",
  "WS_URL": "flow.watxio.com",
  "REVERB_APP_KEY": "your_prod_key",
  "REVERB_PORT": 443,
  "REVERB_SCHEME": "https",
  "DEMO_MODE": false
}
